#link
{
    color: #760001;
    padding-bottom: 3px;
    text-decoration: none;
}

#link:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Formular*/

.center-class {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 400px;
}

.row {
    margin-top: 1em;
}

label {
    width: 60px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

input, textarea {
    width: 300px;
    border: 1px solid #999;
    font: 1em sans-serif;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.table-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

table
{
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 2em;
}

td, th
{
    border: 1px solid black;
    padding: 1em;
}

.book-image {
    max-width: 50px;
    max-height: 100px;
}